#editorjs {
  width: 1212px;
  min-height: 700px;
}

.editorWrapper{
  border:1px solid black;
}

.textRedactor{
  display: flex;
  flex-direction: column;
}

.backToAudits {
  width: auto;
  height: 36.5px;
}

.buttonsBlock{
  margin-top: 29px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.saveButtonsBlock{
  display: flex;
  width: 367px;
  justify-content: space-between;
}

.image-tool__caption,
.ce-popover-item[data-item-name="withBorder"],
.ce-popover-item[data-item-name="withBackground"],
.ce-popover-item[data-item-name="stretched"] {
display: none;
}
