.switcher-list {
  display: flex;
  flex-direction: column;
  margin-top: 48px;
}

.switcher-list p {
  font-family: 'Montserrat', sans-serif;
}

.side-bar {
  margin: 117px 0 0 54px;
  width: 650px;
}

.side-bar-p {
  font-size: 32px;
  margin-bottom: 32px;
}

.template-item {
  margin-left: 26px;
  width: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#editorjs {
  min-width: 712px;
  min-height: 700px;
}

.editorWrapper{
  border:1px solid black;
}

.textRedactor{
  display: flex;
  flex-direction: column;
}

.backToAudits {
  width: auto;
  height: 36.5px;
}

.buttonsBlock{
  margin-top: 29px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.saveButtonsBlock{
  display: flex;
  width: 367px;
  justify-content: space-between;
}

.image-tool__caption,
.ce-popover-item[data-item-name="withBorder"],
.ce-popover-item[data-item-name="withBackground"],
.ce-popover-item[data-item-name="stretched"] {
display: none;
}

.ce-block__content,
    .ce-toolbar__content {
        max-width: unset;
    }

.ce-toolbar, .ce-block {
  padding-left: 70px;
}

.codex-editor {
  padding-bottom: 0px;
}