.main-item-wrap{
  display: flex;
  flex-direction: column;
}

.switch-item p{
  margin-top: -4px;
  font-family: 'Montserrat', sans-serif;
}

.main-item {
  width: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.sub-item {
  margin: 10px 0 10px 0;
}