.header {
  height: 90px;
  background-color: #FFFFFF;
  display: flex;
  justify-content: space-between;
}

ul {
  list-style-type: none;
  padding: 25px 0 0 0px;
  display: flex;
}

li {
  font-family: 'Montserrat';
  font-size: 24px;
  line-height: 29px;
  cursor: pointer;
}

.first-li {
  margin-right: 50px;
}

.SiteAudit {
  color: #FFFFFF;
}

.LagerAudit {
  margin-left: 43px;
  color: #9196A1;
}

.avatar-img {
  width: 50px;
  height: 50px;
  margin: 20px 22px 0px 0px;
  cursor: pointer;
}

.nav-list {
  display: flex;
  flex-direction: column;
}

.nav-bar-link{
  color: #414c59;
  text-decoration: none;
}