.ellipsis span {
  position: absolute;
  left: 0;
  right: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.css-q34dxg span {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

table {
  margin-top: 20px;
}